body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  background: #2b6cff;
  padding: 15px;
}
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
.home {
  text-align: center;
  padding: 50px;
}
.shop {
  padding: 20px;
}
.item {
  background: #222;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}
button {
  background: #2b6cff;
  border: none;
  padding: 10px;
  color: white;
}
